##ignore this file##
/target/
.classpath
.project
.settings 
/SmartOA/target
/SmartOA/.idea/
/JDK8Behavjor/target
/JDK8Behavjor/.idea/
/SmartUrban/SmartUrban-Common/target
/SmartUrban/SmartUrban-Consumer/target
/SmartUrban/SmartUrban-provider/target
/SmartUrban/.idea/sonarlint
